.pb-2 {
    text-align: center;
}

.my-name {
    color: rgb(67, 67, 223);
}

.me-photo {
    border-radius: 50%;
}
.heading-text {
    font-family: 'Merriweather', serif;;
}



.main-heading {
    color: #539EF5;
    font-family: 'Merriweather', serif;;
}

@media (max-width: 576px) {
    .introduction {
       text-align: center;
       
    }
    .image-intro {
    margin-left: 25px;

    }
    
}

